.ContactInfoBody {
  background-color: #cf713b;
  padding: 30px;
  color: white;
}

.ContactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.social ul,
.social ul li,
.social ul li a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  line-height: 40px;
}

.social a {
  text-decoration: none;
  color: white;
}

#svg {
  margin-right: 5px;
}

@media screen and (max-width: 980px) {
  .ContactInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
